.recent__card_position_1 {
  height: 560px;
  background-image: url(../../../../images/recent/recent_1.png);
  grid-area: first;
}

.recent__card_position_1>.recent__title {
  font-size: 26px;
  line-height: 36px;
  width: 100%;
}
