.cards__item {
  box-sizing: border-box;
  width: 370px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
  color: #fff;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
