.recent__card {
  box-sizing: border-box;
  width: 370px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
  padding-left: 20px;
  padding-bottom: 23px;
  color: #fff;
  position: relative;
}
