@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("/fonts/pt_sans/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("/fonts/pt_sans/PTSans-bold.ttf");
  font-weight: bold;
}
