@font-face {
  font-family: 'PT Sans';
  src: url("./PTSans-Regular.ttf") format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans';
  src: url("./PTSans-Bold.ttf") format('ttf');
  font-weight: 700;
}
