.email__input {
  width: 270px;
  min-height: 50px;
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #aeb3bb;
}
