.page__title-accent {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  background-color: #4A90E2;
  border-radius: 3px;
  height: 17px;
  width: 29px;
}
