.email__submit {
  width: 270px;
  height: 50px;
  background-color: #232323;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding: 0;
  border: none;
  outline: none;
}
