@import "../vendor/normalize.css";
@import "../blocks/list/list.css";

@import "../blocks/page/page.css";

@import "../blocks/header/header.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__title-accent/header__title-accent.css";
