@import "../vendor/normalize.css";
@import "../fonts/pt_sans/pt_sans.css";
@import "../fonts/lato/lato.css";
@import "../blocks/list/list.css";

@import "../blocks/page/page.css";

@import "../blocks/header/header.css";
@import "../blocks/header/__container/header__container.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__title-accent/header__title-accent.css";

@import "../blocks/menu/menu.css";
@import "../blocks/menu/__links/menu__links.css";
@import "../blocks/menu/__item/menu__item.css";
@import "../blocks/menu/__link/menu__link.css";

@import "../blocks/content/content.css";

@import "../blocks/cards/cards.css";
@import "../blocks/cards/__item/cards__item.css";
@import "../blocks/cards/__item/_posisition/cards__item_position_1.css";
@import "../blocks/cards/__item/_posisition/cards__item_position_2.css";
@import "../blocks/cards/__item/_posisition/cards__item_position_3.css";
@import "../blocks/cards/__item/_posisition/cards__item_position_4.css";
@import "../blocks/cards/__item/_posisition/cards__item_position_5.css";
@import "../blocks/cards/__text-container/cards__text-container.css";
@import "../blocks/cards/__author/recent__author.css";
@import "../blocks/cards/__title/cards__title.css";

@import "../blocks/mark/mark.css";
@import "../blocks/mark/__text/mark__text.css";
@import "../blocks/mark/_position/mark_position_cards.css";
@import "../blocks/mark/_position/mark_position_article.css";

@import "../blocks/articles/articles.css";
@import "../blocks/article/article.css";
@import "../blocks/article/__cover/article__cover.css";
@import "../blocks/article/__container/article__container.css";
@import "../blocks/article/__title/article__title.css";
@import "../blocks/article/__author/article__author.css";
@import "../blocks/article/__text/article__text.css";

@import "../blocks/number-boxes/number-boxes.css";
@import "../blocks/number-box/number-box.css";
@import "../blocks/number-box/__content/number-box__content.css";
@import "../blocks/number-box/_selected/number-box_selected.css";
@import "../blocks/number-box/_disabled/number-box_disabled.css";

@import "../blocks/sidebar/sidebar.css";
@import "../blocks/highlighted/highlighted.css";
@import "../blocks/highlighted/__post-pic/highlighted__post-pic.css";
@import "../blocks/highlighted/__title/highlighted__title.css";
@import "../blocks/highlighted/__author/highlighted__author.css";
@import "../blocks/highlighted/__post/highlighted__post.css";
@import "../blocks/highlighted/__link/highlighted__link.css";
@import "../blocks/highlighted/__link-text/highlighted__link-text.css";

@import "../blocks/popular/popular.css";
@import "../blocks/sidebar-title/sidebar-title.css";
@import "../blocks/sidebar-post/sidebar-post.css";
@import "../blocks/sidebar-post/__post-pic/sidebar-post__post-pic.css";
@import "../blocks/sidebar-post/__title/sidebar-post__title.css";
@import "../blocks/sidebar-post/__subtitle/sidebar-post__subtitle.css";
@import "../blocks/mark/_position/mark_position_sidebar.css";

@import "../blocks/instagram/instagram.css";
@import "../blocks/instagram/__container/instagram__container.css";
@import "../blocks/instagram/__pic/instagram__pic.css";
@import "../blocks/instagram/__link/instagram__link.css";
@import "../blocks/instagram/__logo/instagram__logo.css";
@import "../blocks/instagram/__link-text/instagram__link-text.css";

@import "../blocks/tags/tags.css";
@import "../blocks/tags/__container/tags__container.css";
@import "../blocks/tag/tag.css";
@import "../blocks/tag/__text/tag__text.css";
