@import "../vendor/normalize.css";
@import "../fonts/pt_sans/pt_sans.css";
@import "../fonts/lato/lato.css";
@import "../blocks/list/list.css";

@import "../blocks/page/page.css";

@import "../blocks/header/header.css";
@import "../blocks/header/__title/header__title.css";
@import "../blocks/header/__title-accent/header__title-accent.css";

@import "../blocks/menu/menu.css";
@import "../blocks/menu/__links/menu__links.css";
@import "../blocks/menu/__item/menu__item.css";
@import "../blocks/menu/__link/menu__link.css";

@import "../blocks/content/content.css";

@import "../blocks/recent/recent.css";
@import "../blocks/recent/__card/recent__card.css";
@import "../blocks/recent/__card/_posisition/recent__card_position_1.css";
@import "../blocks/recent/__card/_posisition/recent__card_position_2.css";
@import "../blocks/recent/__card/_posisition/recent__card_position_3.css";
@import "../blocks/recent/__card/_posisition/recent__card_position_4.css";
@import "../blocks/recent/__card/_posisition/recent__card_position_5.css";
@import "../blocks/recent/__author/recent__author.css";
@import "../blocks/recent/__title/recent__title.css";
