.article__container {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 730px;
  height: 249px;
  position: absolute;
  top: 311px;
  left: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px 86px 30px 30px;
  box-sizing: border-box;
  text-decoration: none;
}
